# raw high-frequency data files
main/AAPL.txt
main/AMZN.txt
main/JPM.txt

# optional external data if too large
# main/epu.csv

# keep main folder and script
!main/.gitkeep
!main/main.py

# generated outputs
outputs/*
!outputs/.gitkeep

# Python cache
__pycache__/
*.pyc

# system files
.DS_Store
